/* DEFAULTS OVERRIDES */
input,
button {
  outline: none;
}

/* APP CONTAINER COMPONENT (BEM BLOCK) */
.app-container {
  width: 500px;
  margin: 8px auto;
  color: #333;
  background-color: #f8f8f8;
  font-family: Lato, sans-serif;
}

/* APP HEADER COMPONENT (BEM BLOCK) */
.app-header {
  text-align: right;
}

.app-header__img {
  width: 100%;
  display: block;
}

.app-header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .app-header {
    text-align: center;
  }

}

/* MAIN COMPONENT (BEM BLOCK) */
.main {
  margin: 1rem auto 0;
}

/* TASKS CONTAINER COMPONENT (BEM BLOCK) */
.tasks-container__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* TASKS LIST COMPONENT (BEM BLOCK) */
.tasks-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* TASK COMPONENT (BEM BLOCK) */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.task__label,
.task__input {
  font-size: 18px;
  flex-grow: 1;
}

.task__label {
  overflow: hidden;
  padding-left: 10px;
  box-sizing: border-box;
  width: 226px;
}

.task__input {
  display: none;
  margin: 0;
  line-height: 18px;
  height: 19px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: #888;
  font-family: Lato, sans-serif;
}

.task__input:focus {
  color: #333;
}

.task__status {
  margin: 0 10px;
}

.task--new {
  border: none;
  padding-bottom: 16px;
}

.task--new .task__input,
.task--edit .task__input {
  display: unset;
}

.task--edit .task__label {
  display: none;
}

.task--completed .task__label {
  text-decoration: line-through;
  color: #888;
}

/* BUTTON COMPONENT (BEM BLOCK) */
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* ICON-DELETE COMPONENT (BEM BLOCK) */
.icon-delete {
  display: block;
  margin: auto;
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.icon-delete:hover {
  transform: rotateZ(0);
}